@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background: url(../images/bg_top-2000x478.png) no-repeat;
	position: relative;
}
.lbutton {
	width: 80px;
	height: 40px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:15px;
}
.funcb {
	margin-top: 20px;
}
.linput {
	width: 200px;
	height: 30px;
}
#loginui, #ilogo {
	position: absolute;
}