#CMOnOff {
    list-style-image: url("chrome://createrequest/skin/clickmap_hot.gif");
}

#createrequest-button {
	list-style-image: url("chrome://createrequest/skin/clickmapToolbar.png");
	-moz-image-region: rect(0px 24px 24px 0px);  
}

#createrequest-button:hover {
	list-style-image: url("chrome://createrequest/skin/clickmapToolbar.png");
	-moz-image-region: rect(28px 24px 52px 0px);  
}

#createrequest-button[disabled="true"] {
	list-style-image: url("chrome://createrequest/skin/clickmapToolbar.png");
	-moz-image-region: rect(56px 24px 80px 0px);  
}


toolbar[iconsize="small"] #createrequest-button {
  list-style-image: url("chrome://createrequest/skin/clickmapToolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #createrequest-button:hover {
  list-style-image: url("chrome://createrequest/skin/clickmapToolbar-small.png");
  -moz-image-region: rect(19px 16px 35px 0px);
}

toolbar[iconsize="small"] #createrequest-button[disabled="true"] {
  list-style-image: url("chrome://createrequest/skin/clickmapToolbar-small.png");
  -moz-image-region: rect(37px 16px 53px 0px);
}