#CMOnOff {
    list-style-image: url("chrome://createrequest/skin/clickmap_hot.gif");
}

#createrequest-button {
	list-style-image: url("chrome://createrequest/skin/clickmapToolbar-mac.png");
	-moz-image-region: rect(0px 32px 32px 0px);  
}

#createrequest-button:hover {
	list-style-image: url("chrome://createrequest/skin/clickmapToolbar-mac.png");
	-moz-image-region: rect(32px 32px 64px 0px);  
}

#createrequest-button[disabled="true"] {
	list-style-image: url("chrome://createrequest/skin/clickmapToolbar-mac.png");
	-moz-image-region: rect(64px 32px 96px 0px);  
}


toolbar[iconsize="small"] #createrequest-button {
  list-style-image: url("chrome://createrequest/skin/clickmapToolbar-mac-small.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

toolbar[iconsize="small"] #createrequest-button:hover {
  list-style-image: url("chrome://createrequest/skin/clickmapToolbar-mac-small.png");
  -moz-image-region: rect(24px 24px 48px 0px);
}

toolbar[iconsize="small"] #createrequest-button[disabled="true"] {
  list-style-image: url("chrome://createrequest/skin/clickmapToolbar-mac-small.png");
  -moz-image-region: rect(48px 24px 72px 0px);
}